.reel-container {
  position: relative;
  overflow: hidden;
}

.reel-strip {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reel-sprite {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinDown {
  0% {
    /* Start halfway up */
    transform: translateY(-50%);
  }
  100% {
    /* Move to original position */
    transform: translateY(0);
  }
}

@keyframes jiggle {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.jiggle-container {
  display: flex;
  justify-content: center;
}